In [2]:
# The code was removed by Watson Studio for sharing.

In [3]:
import pandas as pd
import numpy as np
import sys

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
np.set_printoptions(threshold=sys.maxsize)

### Variable names are refering to the notebooks in this project.

In [4]:
api_df = pd.read_csv(project.get_file('spacex_api.csv'))

scrape_df = pd.read_csv(project.get_file('spacex_web_scraped.csv'))

wrangle_df = pd.read_csv(project.get_file('data_wrangling.csv'))

feature_df = pd.read_csv(project.get_file('pre_data_feature.csv'))

folium_df = pd.read_csv(project.get_file('sites_folium.csv'))

dash_df = pd.read_csv(project.get_file('spacex_launch_dash.csv'))

- Capstone Datasets created by this course are inconsistent. The ones provided for the Dash App and Folium Maps are missing at least half the samples.
- It looks like launch site CCAFS LC-40 was last used in  August 14 2016 due to an accident in Sepetember of the same year. It's now

In [5]:
print(api_df.shape)
api_df.head()

(90, 17)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6124.0,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.0,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.0,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.0,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.0,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857

In [14]:
print(scrape_df.shape)
scrape_df.head()

(121, 11)

,Flight No.,Launch site,Payload,Payload mass,Orbit,Customer,Launch outcome,Version Booster,Booster landing,Date,Time
0,1,CCAFS,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,F9 v1.0B0003.1,Failure,4 June 2010,18:45
1,2,CCAFS,Dragon,0,LEO,NASA,Success,F9 v1.0B0004.1,Failure,8 December 2010,15:43
2,3,CCAFS,Dragon,525 kg,LEO,NASA,Success,F9 v1.0B0005.1,No attempt,22 May 2012,07:44
3,4,CCAFS,SpaceX CRS-1,"4,700 kg",LEO,NASA,Success,F9 v1.0B0006.1,No attempt,8 October 2012,00:35
4,5,CCAFS,SpaceX CRS-2,"4,877 kg",LEO,NASA,Success,F9 v1.0B0007.1,No attempt,1 March 2013,15:10

In [15]:
print(wrangle_df.shape)
wrangle_df.head()

(90, 18)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0

In [8]:
print(feature_df.shape)
feature_df.head()

(90, 18)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0

In [16]:
print(folium_df.shape)
folium_df.head()

(56, 14)

,Flight Number,Date,Time (UTC),Booster Version,Launch Site,Payload,Payload Mass (kg),Orbit,Customer,Mission Outcome,Landing Outcome,class,Lat,Long
0,1,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0.0,LEO,SpaceX,Success,Failure (parachute),0,28.562302,-80.577356
1,2,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of Brouère cheese",0.0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute),0,28.562302,-80.577356
2,3,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2+,525.0,LEO (ISS),NASA (COTS),Success,No attempt,0,28.562302,-80.577356
3,4,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500.0,LEO (ISS),NASA (CRS),Success,No attempt,0,28.562302,-80.577356
4,5,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677.0,LEO (ISS),NASA (CRS),Success,No attempt,0,28.562302,-80.577356

In [17]:
print(dash_df.shape)
dash_df.head()

(56, 8)

,Unnamed: 0,Flight Number,Launch Site,Mission Outcome,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,Success,0,0.0,F9 v1.0 B0003,v1.0
1,1,2,CCAFS LC-40,Success,0,0.0,F9 v1.0 B0004,v1.0
2,2,3,CCAFS LC-40,Success,0,525.0,F9 v1.0 B0005,v1.0
3,3,4,CCAFS LC-40,Success,0,500.0,F9 v1.0 B0006,v1.0
4,4,5,CCAFS LC-40,Success,0,677.0,F9 v1.0 B0007,v1.0

In [12]:
# spacex_api = df.copy()

# first_ground_land = spacex_df[spacex_df['Outcome'] == 'True RTLS'].min()['Date']
# f"The first ground landing date was in {first_ground_land.strftime('%B, %d, %Y')}"

# true_asds = spacex_df[spacex_df['Outcome'] == 'True ASDS']
# asds_payload_range = true_asds[true_asds['PayloadMass'].between(4000,6000)]
# asds_payload_range

# outcome_col = spacex_df[['Outcome']]
# outcome_col.count()

# max_payload = spacex_df['PayloadMass'].max()
# max_payload_idx = spacex_df.loc[spacex_df['PayloadMass'].idxmax()]
# booster = max_payload_idx['BoosterVersion']
# print(f'The {booster} booster carried the heaviest payload with a total of {max_payload} Kilograms')

# count = spacex_df['Outcome'].str.contains('True').value_counts()
# print(f'SpaceX had a total of {count.values[0]} successful missions, and a total of {count.values[1]} failed missions.')

# import datetime as dt
# spacex_df['Date'] = pd.to_datetime(spacex_df['Date'])
# launches_2015 = spacex_df[spacex_df['Date'].dt.year == 2015]

# false_asds = launches_2015[launches_2015['Outcome'] == 'False ASDS']

# filtered_false_asds = false_asds[['Outcome', 'BoosterVersion', 'LaunchSite', 'Date' ]]

# filtered_false_asds

# date_2010_2017 = spacex_df[(spacex_df['Date'] >= '2010-06-04') & (spacex_df['Date'] <= '2017-03-20')]
# outcome_value_count = date_2010_2017['Outcome'].value_counts().sort_values(ascending=False)

# x = 0
# for i in outcome_value_count.iteritems():
#     x = x + 1
#     if x < 2:
#         print(f'{x}st landing outcome is "{i[0]}" with "{i[1]}" outcomes')
#     elif x < 3:
#         print(f'{x}nd landing outcome is "{i[0]}" with "{i[1]}"  outcomes')
#     elif x < 4:
#         print(f'{x}rd landing outcome is "{i[0]}" with "{i[1]}"  outcomes')
#     else:
#         print(f'{x}th landing outcome is "{i[0]}" with "{i[1]}"  outcomes')

# spacex_df['Class'] = spacex_df['Outcome'].str.contains('True')
# spacex_df['Class'] = spacex_df['Class'].astype(int)

# class_label_1 = spacex_df[spacex_df['Class'] == 1]
# launch_count = class_label_1.groupby(['LaunchSite'])['Class'].value_counts().unstack().reset_index()
# launch_count.columns = ['LaunchSite', 'Class_1']
# launch_count

# import matplotlib.pyplot as plt
# fig, ax = plt.subplots(figsize=(8,8))
# ax.pie(launch_count['Class_1'], labels=launch_count['LaunchSite'], shadow=True, autopct=lambda p: '{:.0f}'.format(p*(launch_count['Class_1'].sum())/100), colors=['royalblue','lightskyblue','limegreen'])
# ax.legend(launch_count['LaunchSite'], title='Launch Sites')
# ax.set_title('SpaceX Total Number of Successfull Landing Outcomes')
# plt.show()

# outcome_ratio = spacex_df.groupby('LaunchSite')['Class'].value_counts(normalize=True).unstack().reset_index()
# outcome_ratio.columns = ['LaunchSite', 'Class_0', 'Class_1']
# outcome_ratio

# outcome_ratio[outcome_ratio['Class_1'] == outcome_ratio['Class_1'].max()]

# best_site = spacex_df[spacex_df['LaunchSite'] == 'KSC LC 39A']
# best_site = best_site.groupby('LaunchSite')['Class'].value_counts(normalize=True).reset_index(name='Count')
# best_site

# fig1, ax1 = plt.subplots(figsize=(8,8))
# wedge = ax1.pie(best_site['Count'], autopct='%1.0f%%', shadow=True, colors=['royalblue','limegreen'])
# ax1.legend(best_site['Class'], title='Class Label')
# ax1.set_title('Launch Site With Best Landing Ratio - KSC LC 39A')
# plt.show()

In [13]:
# #Data Analisys with Folium

# uniq_site_df = spacex_df[['Launch Site']].drop_duplicates()
# uniq_site_df

# cca_df = spacex_df.loc[spacex_df['Launch Site'].str.contains('CCA')].loc[0:4,:]
# cca_df

# nasa_df = spacex_df.loc[spacex_df['Customer'].str.contains('NASA')]
# nasa_payload = nasa_df['Payload Mass (kg)'].sum()
# print(f'SpaceX launched into space a total payload of {nasa_payload} Kilograms on behalf of Nasa')

# v1_df = spacex_df.loc[spacex_df['Booster Version'].str.contains('F9 v1.1')]
# v1_payload_df = v1_df['Payload Mass (kg)'].mean().round(decimals=2)
# print(f'SpaceX launched into space an average of {v1_payload_df} Kilograms per payload using the F9 v1.1 Booster')

# class_1_label = spacex_df[spacex_df['class'] == 1]
# launch_site = class_1_label[['Launch Site', 'class']]
# launch_site